<font size = "6"> <a href = "https://www.kaggle.com/code/colinmorris/lists">Lists</a> </font>

In [1]:
A = [1, 2, 3, 4, 5]

print(A)

print(A[3])

[1, 2, 3, 4, 5]
4

In [2]:
B = ['one', 'two', 'three', 'four', 'five']

print(B)

print(B[4])

['one', 'two', 'three', 'four', 'five']
five

<font size = "4"> Python lists are unlike arrays because they can store elements of different data types in the same list! </font>

In [3]:
C = [1, 'two', 'list C huh?', True]

print(C, "\n")

for i in range(4):
    print(type(C[i]), "\t", C[i])

[1, 'two', 'list C huh?', True]

<class 'int'> 	 1
<class 'str'> 	 two
<class 'str'> 	 list C huh?
<class 'bool'> 	 True

<font size = "4"> A multi-dimenstional list, a list of lists </font>

In [4]:
D = [[0, 1, 2], ['zero', 'one', 'two'], [False, True, True]]
print(D, "\n")

[[0, 1, 2], ['zero', 'one', 'two'], [False, True, True]]

<font size = "4"> A multi-dimensional list can also be written like this for better readability </font>

In [5]:
D = [
    [0, 1, 2],
    ['zero', 'one', 'two'],
    [False, True, True]
]
print(D)

[[0, 1, 2], ['zero', 'one', 'two'], [False, True, True]]

<font size = "5"> <b> Negative indexing </b> </font>

<font size = "4"> Negative indexing reads list elements backwards </font>

In [6]:
E = [7, "eight", 9, True]

print(E, "\n")

print(E[-1], E[-2], E[-3], E[-4])

[7, 'eight', 9, True]

True 9 eight 7

<font size = "5"> <b> Slicing </b> </font>

In [7]:
planets = ['Mecury', 'Venus', 'Earth', 'Mars', 'Jupyter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

<font size = "4"> What are the first 3 planets? </font>

In [8]:
planets[0 : 3]

['Mecury', 'Venus', 'Earth']

<font size = "4"> The starting and ending indices are both optional. </font>

<font size = "4"> If the first index is left out, it is assumed to be 0. <br>
The first 3 planets can also be written like this : </font>

In [9]:
planets[: 3]

['Mecury', 'Venus', 'Earth']

<font size = "4"> If the last index is left out, it is assumed to be the length of the list. <br>
The remaining 6 planets can be wrriten like this : </font>

In [10]:
planets[3 :]

['Mars', 'Jupyter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

<font size = "4"> <b> Negative indexing can be used for slicing. <b> </font>

In [11]:
# All planets except first and last
planets[1 : -1]

['Venus', 'Earth', 'Mars', 'Jupyter', 'Saturn', 'Uranus', 'Neptune']

In [12]:
# Just last 3 planets
planets[-3 : ]

['Uranus', 'Neptune', 'Pluto']

In [13]:
# All planets except the last 3
planets[ : -3]

['Mecury', 'Venus', 'Earth', 'Mars', 'Jupyter', 'Saturn']

<font size = "5"> <b> <u>Modifying (Mutating) Lists<u> </b> </font>

In [14]:
languages = ['Python', 'C', 'C++', 'C#']
languages

['Python', 'C', 'C++', 'C#']

In [15]:
languages[3] = 'Java'
languages

['Python', 'C', 'C++', 'Java']

In [16]:
languages[1: 3] = ['R', 'MATLAB']
languages

['Python', 'R', 'MATLAB', 'Java']

<font size = "5"> <b> <u>List Functions<u> </b> </font>

<font size = "5">`len`<font size = "4"> returns the length of a list </font>

In [17]:
len(planets)

9

<font size = "5">`sorted`<font size = "4"> returns the list after sorting </font>

In [18]:
# Returns list sorted in alphabetical order
print(sorted(planets))

['Earth', 'Jupyter', 'Mars', 'Mecury', 'Neptune', 'Pluto', 'Saturn', 'Uranus', 'Venus']

In [19]:
F = [5, 6, 1, 2, 3]
sorted(F)

[1, 2, 3, 5, 6]

<font size = "5">`sum`</font>

In [20]:
sum(F)

17

<font size = "5">`min`<font size = "4"> and <font size = "5">`max`

In [21]:
print(min(F))
print(max(F))

1
6

<font size = "5"> <b> <u>List Methods<u> </b> </font>

In [22]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

<font size = "5">`list.append()`<font size = "4"> adds an element to the end of the list

In [23]:
days.append('Sunday')
days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

<font size = "5">`list.pop()`<font size = "4"> removes and returns the last element of the list

In [24]:
days.pop()
days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [25]:
print(days.pop())
days

Saturday

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

<font size = "5"> <b> <u>Searching Lists</u> </b> </font>

<font size = "4">A list element's index can be found by using the <font size = "5">`list.index()`<font size = "4"> method </font>

In [26]:
# Searching for Earth
planets.index('Earth')

2

In [27]:
# Searching for Jupiter
planets.index('Jupiter')

ValueError: 'Jupiter' is not in list

<font size = "4"> To avoid errors like above, we can check if a list contains a certain element or not by using the 
<font size = "5">`in`<font size = "4"> operator </font>

In [28]:
'Jupiter' in planets

False

In [29]:
'Jupyter' in planets

True

<font size = "6" color = "MediumBlue"> <u>Tuples</u> </font>

<font size = "4"> Tuples are almost exactly like sets, but they differ in two ways. <p> 1. The syntax for creating tuples uses parentheses instead of square brackets <br> 2. Tuples are immutable (CANNOT be modified) </font>

In [30]:
# A tuple is creating using parentheses
t1 = (1, 2, 3)
t1

(1, 2, 3)

In [31]:
# Equivalent to the above way of creating a tuple
t2 = 1, 2, 3
t2

(1, 2, 3)

In [32]:
# Tuples CANNOT be mutated
t2[0] = 100

TypeError: 'tuple' object does not support item assignment

<font size = "4"> Tuples are often used for functions that have multiple return values. <br>
For example, <br> the <font size = "5">`as_integer_ratio()`<font size = "4"> method of float objects returns a numerator and a denominator in the form of a tuple : </font>

In [33]:
x = 0.25
x.as_integer_ratio()

(1, 4)

<font size = "4"> These multiple return values can also be individually assigned </font>

In [34]:
numerator, denominator = x.as_integer_ratio()

print(numerator)
print(denominator)

1
4