<font size = "6"> <a href = "https://www.kaggle.com/code/colinmorris/strings-and-dictionaries">Strings and Dictionaries</a> </font>

In [1]:
print('Hello')
print('World')
print('!')

Hello
World
!

In [2]:
print('Hello', end='')
print('World', end='')
print('!')

HelloWorld!

<br> <font size = "4"> A string containing single quotes can be enclosed in double quotes. <br> Similarly, a string containing double quotes can be enclosed in single quotes. </font>

In [3]:
print("Pluto's a planet")
print('My dog is named "Pluto"')

<font size = "5"> Escape Sequences </font>

In [4]:
print('a\'b')

a'b

In [5]:
print('a\"b')

a"b

In [6]:
print('a\\b')

a\b

In [7]:
print('a\nb')

a
b

In [8]:
print('a\tb')

a	b

<font size = "5"> Triple quote syntax for multiline strings </font>

In [9]:
print('''triple quotes
for strings that span
multiple lines''')

triple quotes
for strings that span
multiple lines

In [10]:
print("""triple quotes
for strings that span
multiple lines""")

triple quotes
for strings that span
multiple lines

<br> <font size = "4"> Almost everything that can be done to a list, can also be done to a string. </font>

In [11]:
planet = 'Pluto'

In [12]:
planet[0]

'P'

In [13]:
# Slicing
planet[-2:]

'to'

In [14]:
# Length
len(planet)

5

In [15]:
# Strings can also be looped over
['$'+i for i in planet]

['$P', '$l', '$u', '$t', '$o']

<font size = "4"> Strings are immutable. <br> Strings CANNOT be modified like lists. </font>

In [16]:
planet[2] = 'a'

TypeError: 'str' object does not support item assignment

In [17]:
planet.append('s')

AttributeError: 'str' object has no attribute 'append'

<font size = "5"> <b> <u>String Methods<u> </b> </font>

In [18]:
# All uppercase

str1 = 'Box Box Box'
str1.upper()

'BOX BOX BOX'

In [19]:
# All lowercase

str1.lower()

'box box box'

In [20]:
# Searching for the first index of a substring

str2 = 'boxenstopp'
str2.index('xen')

2

In [21]:
# String starts with

str2.startswith('box')

True

In [22]:
str2.startswith('boxx')

False

In [23]:
# String ends with

str2.endswith('stopp')

True

In [24]:
str2.endswith('xen')

False

<font size = "6"> `split()` </font>

<font size = "5">`split()`<font size = "4"> turns a string into a list of smaller substrings, breaking them on whitespace by default. </font>

In [25]:
str3 = 'box1 box2 box3'
str3.split()

['box1', 'box2', 'box3']

<font size = "4"> To split a string based on something other than a whitespace : </font>

In [26]:
date = '23/04/2023'
date.split('/')

['23', '04', '2023']

In [27]:
date, month, year = date.split('/')

print(date)
print(month)
print(year)

23
04
2023

<font size = "6"> `join()` </font>

<font size = "5">`join()`<font size = "4"> joins together a list of strings, using the string it was called upon as a separator. </font>

In [28]:
'-'.join([year, month, date])

'2023-04-23'

In [29]:
str4 = 'box1 box2 box3'

str4 = str4.split()

'# '.join([i.upper() for i in str4])

'BOX1# BOX2# BOX3'

<font size = "5"> Building strings with <font size = "6">`.format()`</font>

<font size = "4"> Strings are concatenated using the <font size = "5">`+`<font size = "4"> operator. </font>

In [30]:
planet = 'Pluto'
planet + ' is the last planet'

'Pluto is the last planet'

<font size = "4"> If you want to throw in any non-string objects, be sure to call <font size = "5">`str()`<font size = "4"> on the non-string object. </font>

In [31]:
position = 9
planet + ' is the ' + position + 'th planet'

TypeError: can only concatenate str (not "int") to str

In [32]:
planet + ' is the ' + str(position) + 'th planet'

'Pluto is the 9th planet'

<font size = "5">`.format()`<font size = "4"> is an easier way to build and concatenate strings. </font>

In [33]:
'{} is the {}th planet'.format(planet, position)

'Pluto is the 9th planet'

In [34]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390

#           2 decimal points;  3 decimal points, format as percent;  separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass/earth_mass, population
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [35]:
# Referring to format() arguments by index, starting from 0

str_pluto = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')

print(str_pluto)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

<br><font size = "6" color = "MediumBlue"> <u>Dictionaries</u> </font>

<font size = "4"> Dictionaries are a built-in Python data structure for mapping keys to values. </font>

In [36]:
# In this case, 'one', 'two', and 'three' are the keys, with 1, 2, 3 being their corresponding values

numbers = {'one':1, 'two':2, 'three':3}

numbers

{'one': 1, 'two': 2, 'three': 3}

In [37]:
# Values are accessed via square bracket syntax
numbers['two']

2

In [38]:
# Another key, value pair can be added like this
numbers['nine'] = 9
numbers['eleven'] = 11

numbers

{'one': 1, 'two': 2, 'three': 3, 'nine': 9, 'eleven': 11}

In [39]:
# The value associated with an existing key can be changed like this
numbers['nine'] = 'Pluto'

numbers

{'one': 1, 'two': 2, 'three': 3, 'nine': 'Pluto', 'eleven': 11}

<font size = "5"> <b>Dictionary Comprehensions</b> </font>

In [40]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupyter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

planet_initial = {planet: planet[0] for planet in planets}

planet_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupyter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N',
 'Pluto': 'P'}

<font size = "4">The <font size = "5">`in`<font size = "4"> operator checks if something is a key in the dictionary. </font>

In [41]:
'Earth' in planet_initial

True

In [42]:
'Jupiter' in planet_initial

False

<font size = "4"> A for loop over a dictionary will loop over its keys. </font>

In [43]:
for i in numbers:
    print("{} = {}".format(i, numbers[i]))

one = 1
two = 2
three = 3
nine = Pluto
eleven = 11

<font size = "4"> All the keys in a dictionary can be accessed with <font size = "5">`.keys`</font>

In [44]:
numbers.keys()

dict_keys(['one', 'two', 'three', 'nine', 'eleven'])

<font size = "4"> and all the values in a dictionary can be accessed with <font size = "5">`.values()`</font>

In [45]:
numbers.values()

dict_values([1, 2, 3, 'Pluto', 11])

<font size = "4"> <br>Get all the initials of the planets, sort them alphabetically, and put them in a space-separated string :</font>

In [46]:
' '.join(sorted(planet_initial.values()))

'E J M M N P S U V'

<font size = "4"> <br><font size = "5">`.items()`<font size = "4"> method lets us iterate over both the keys and values of a dictionary simultaneously. <br>(In Python jargon, an item refers to a key, value pair) </font>

In [47]:
for planet, initial in planet_initial.items():
    print('{} begins with "{}"'.format(planet, initial))
    
print('\n')

for planet, initial in planet_initial.items():
                                            # rjust() right aligns the string
    print('{} begins with "{}"'.format(planet.rjust(10), initial))

Mercury begins with "M"
Venus begins with "V"
Earth begins with "E"
Mars begins with "M"
Jupyter begins with "J"
Saturn begins with "S"
Uranus begins with "U"
Neptune begins with "N"
Pluto begins with "P"


   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupyter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"
     Pluto begins with "P"